<nav class="mb-5 shadow">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Categorias</li>
  </ol>
</nav>


<div class="row mb-4 mt-5">

  <div class="col-md">
    <h1 class="h2 border-left pl-2">Categorias</h1>
  </div>

  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right font-weight-bold">➕ Nova Categoria</a>
  </div>

</div>

<div class="table-responsive">
  <table class="table table-borderless table-striped table-sm">
    <thead>
      <tr class="bg-dark text-light">
        <th class="text-left"><span class="ml-5">Categoria</span></th>
        <th class="text-center" style="width: 230px;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>
          <strong class="ml-1">{{category.name}}</strong>
          <br>
          <small class="ml-3">{{category.description}}</small>
        </td>
        <td class="text-center align-middle">
          <a [routerLink]="[category.id, 'edit']"
            class="btn btn-outline-info btn-sm mr-2 text-uppercase font-weight-bold">
            ✍ Editar
          </a>
          |
          <button (click)="deleteCategory(category)"
            class="btn btn-outline-danger btn-sm ml-2 text-uppercase font-weight-bold">
            🗑 Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
